.booking {
  background-color: #440F51;
  padding-bottom: 80px;
}

.booking__legend {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-align: center;
  margin-bottom: 40px;
}

.booking__fieldset,
.booking__fun-fieldset {
  border: none;
}

.booking__fieldset {
  margin-bottom: 60px;
}

.booking__fieldset:last-of-type {
  margin-bottom: 40px;
}


.booking__room-wrapper {
  display: flex;
  justify-content: space-between;
}

.booking__room-label {
  flex-basis: 250px;
  color: #000;
  background-color: #fff;
  border: 3px solid transparent;
  border-radius: 8px;
  text-align: center;
  font-family: Arial;
  font-size: 30px;
  font-weight: 700;
  line-height: 40px;
  text-transform: uppercase;
  padding: 7px 15px;
  cursor: pointer;
  transition: color .2s ease-in, border-color .2s ease-in, background-color .2s ease-in;
}


.booking__room-label:hover {
  border-color: #640AA3;
  background: #EADEED;
}

.booking__room-input:active+.booking__room-label,
.booking__room-input:checked+.booking__room-label {
  border-color: #FFF;
  color: #FFF;
  background: #6C0287;
}

.booking__room-input:focus+.booking__room-label {
  border-color: #640AA3;
}

.booking__fun-wrapper {
  display: flex;
  justify-content: space-evenly;
}

.booking__fun-legend {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  margin-bottom: 24px;
}

.booking__fun-fieldset {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}

.booking__fun-label {
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.booking__fun-input {
  width: 26px;
  height: 26px;
  margin-right: 12px;
  display: inline-block;
  vertical-align: top;
  outline: 1px solid transparent;
  transition: outline .2s ease-in;
}

.booking__fun-input:focus {
  outline: 1px solid #CD06FF;
}

.booking__date-wrapper {
  display: flex;
  justify-content: center;
  gap: 50px;
}

.booking__date-box {
  position: relative;
  flex-basis: 300px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-end;
  gap: 14px;
}

.booking__date-label {
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  display: block;
  margin-bottom: 6px;
}

.booking__date-input-wrapper {
  width: 100%;
}

.booking__date-input {
  width: 100%;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  padding: 12px 27px 12px 12px;
  border: 2px solid transparent;
  transition: border-color .2s ease-in;
}

.booking__date-input:focus {
  outline: none;
  border: 2px solid #CD06FF;
}

.booking__date-input_book_day,
.booking__date-input_book_time {
  width: 45%;
}

.booking__button {
  padding: 16px 50px;
  border-radius: 10px;
  border: 3px solid transparent;
  background-color: #fff;
  color: #6C0287;
  font-size: 22px;
  font-weight: 700;
  line-height: 28px;
  text-transform: uppercase;
  display: block;
  margin-left: auto;
  transform: translateX(-90px);
  transition: border-color .2s ease-in, background-color .2s ease-in;
}

.booking__button:hover {
  border: 3px solid #6C0287;
  background-color: #EADEED;
}

.booking__button:focus {
  outline: none;
  border: 3px solid #6C0287;
  background-color: #FFF;
}

.booking__button:active {
  background-color: #EADEED;
  border-color: transparent;
}