.feedback__item:not(:last-child) {
  margin-bottom: 50px;

}

.feedback__list {
  text-align: center;
}

.feedback__figure {
  display: inline-block;
  text-align: center;
  vertical-align: top;
  margin-right: 20px;
}

.feedback__gradient {
  position: relative;
  width: 280px;
  height: 280px;
  border-radius: 50%;
  overflow: hidden;
  object-fit: cover;
  margin-bottom: 11px;
}

.feedback__gradient::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: radial-gradient(50% 50% at 50% 50%, rgba(196, 196, 196, 0.00) 0%, rgba(108, 2, 135, 0.50) 100%);
}

.feedback__name,
.feedback__text {
  font-size: 20px;
  line-height: 28px;
}

.feedback__text {
  display: inline-block;
  vertical-align: top;
  max-width: 680px;
  text-align: left;
  padding-top: 52px;
}