.footer {
  padding: 50px 0 10px;
  background: linear-gradient(180deg, #1B1A1B 0%, #370A37 100%);
}

.address {
  font-size: 24px;
  font-weight: 700;
  line-height: 34px;
  margin-bottom: 39px;
}

.address__item_city {
  margin-bottom: 38px;
  background-image: url("../images/icons/location.svg");
  max-width: 370px;

}

.address__item_phone {
  background-image: url("../images/icons/phone.svg");
  margin-bottom: 11px;
}

.address__item_mail {
  background-image: url("../images/icons/envelope.svg");
}

.address__item {
  display: block;
  background-repeat: no-repeat;
  background-position: left center;
  padding-left: 64px;
}

.social {
  font-size: 0;
}

.social__item {
  display: inline-block;
}

.social__link,
.address__item {
  outline: 1px solid transparent;
  transition: color .2s ease-in, outline .2s ease-in;
}

.social__link {
  display: block;
  color: #fff;
}

.address__item:hover,
.social__link:hover {
  color: #EADEED;
}

.address__item:focus,
.social__link:focus {
  outline: 1px solid #CD06FF;
  color: #EADEED;
}

.address__item:active,
.social__link:active {
  color: #CD06FF;
  outline: none;
}

.social__item:not(:last-child) {
  margin-right: 26px;
}

.footer__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 156px;
}

.footer__footnote-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.footer__footnote {
  font-size: 14px;
  font-weight: 400;
  line-height: 16px
}

.footer__footnote-span {
  display: block;
  margin-bottom: 6px;
}

.footer__footnote_text_right {
  text-align: right;
}