.main-section {
  padding-top: 50px;
}

.main-section__container {
  padding-bottom: 154px;
  position: relative;
  min-height: 762px;
  background-image: url("../images/banner.png");
  background-repeat: no-repeat;
  background-size: 675px;
  background-position: right 30px top 60px;
}

.main-section__title {
  font-size: 150px;
  font-weight: 900;
  line-height: 100%;
  letter-spacing: -0.1em;
}

.main-section__descr {
  font-size: 28px;
  line-height: 50px;
  padding-left: 100px;
  margin-bottom: 30px;
}

.main-section__info {
  display: flex;
  align-items: flex-end;
  gap: 40px;
  margin-bottom: 150px;
}

.main-section__info-text {
  text-align: center;
  max-width: 193px;
  font-size: 30px;
  font-weight: 400;
  line-height: normal;
}

.main-section__info-span {
  display: block;
  color: var(--secondary-color);
  font-family: Arial;
  font-size: 100px;
  font-weight: 900;
  line-height: normal
}

.main-section__info-span_box_right {
  font-size: 75px;
  font-weight: 900;
  line-height: normal;
  font-variant: all-small-caps;
}

.main-section__btn {
  display: inline-block;
  position: relative;
  padding: 25px 69px;
  font-size: 26px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
  border-radius: 10px;
  background: #6c0287;
  color: inherit;
  transition: color .2s ease-in, background-color .2s ease-in;
}

.main-section__btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 10px;
  background: #6C0287;
  filter: blur(10px);
  z-index: -1;

}

.main-section__btn:hover,
.main-section__btn:focus {
  background-color: #840AA3;
}

.main-section__btn:focus {
  outline: none;
}

.main-section__btn:active {
  background-color: #640AA3;
}

.main-section__down {
  position: absolute;
  font-size: 0;
  bottom: 90px;
  left: 50%;
  transform: translateX(-50%);
  outline: 1px solid transparent;
  transition: outline .2s ease-in;
}

.main-section__icon {
  color: var(--main-color);
  border: 1px solid var(--main-color);
  border-radius: 50%;
  transition: color .2s ease-in, background-color .2s ease-in, border-color .2s ease-in;
}



.main-section__down:hover .main-section__icon {
  color: #6C0287;
  background-color: var(--main-color);
}

.main-section__down:focus {
  outline: 1px solid var(--secondary-color);
}

.main-section__down:active .main-section__icon {
  color: var(--main-color);
  background-color: var(--secondary-color);
  border-color: var(--secondary-color);
}

@media (max-width: 1240px) {

  .main-section {
    padding-top: 30px;
    padding-bottom: 50px;
  }

  .main-section__title {
    font-size: 120px;
    margin-bottom: 20px;
  }

  .main-section__descr {
    font-size: 22px;
    line-height: 136%;
  }

  .main-section__info-text {
    font-size: 26px;
  }

  .main-section__info-span {
    font-size: 80px;
  }

  .main-section__info-span_box_right {
    font-size: 60px;
  }

  .main-section__info {
    margin-bottom: 80px;
  }

  .main-section__btn {
    font-size: 22px;
    line-height: 136%;
    padding: 17px 48px;
  }

  .main-section__icon {
    width: 67px;
    height: 67px;
  }

  .main-section__container {
    padding-bottom: 66px;
    min-height: 520px;
  }

  .main-section__down {
    bottom: 46px;
  }
}

@media (max-width: 1024px) {
  .main-section__container {
    background-size: 465px;
  }
}

@media (max-width: 870px) {
  .main-section__title {
    font-size: 86px;
  }

  .main-section__descr {
    font-size: 18px;
    line-height: 133%;
    padding-left: 70px;
    margin-bottom: 50px;
  }

  .main-section__info {
    gap: 30px;
  }

  .main-section__info-text {
    font-size: 16px;
    max-width: 103px;
  }

  .main-section__info-span {
    font-size: 50px;
  }

  .main-section__info-span_box_right {
    font-size: 40px;
  }

  .main-section__info {
    margin-bottom: 100px;
  }

  .main-section__btn {
    font-size: 16px;
    line-height: 150%;
    padding: 11px 35px;
  }

  .main-section__down {
    display: none;
  }

  .main-section__container {
    padding-bottom: 104px;
    min-height: 480px;
    background-size: 421px;
  }

}

@media (max-width: 740px) {

  .main-section__container {
    padding-bottom: 50px;
    min-height: 400px;
    background-size: 373px;

  }
}

@media (max-width: 640px) {
  .main-section__container {
    min-height: 300px;
    background-size: 251px;
    padding-bottom: 50px;
  }

  .main-section {
    padding-top: 20px;
    padding-bottom: 28px;
  }

  .main-section__title {
    font-size: 60px;
    margin-bottom: 10px;
  }

  .main-section__descr {
    font-size: 16px;
    padding-left: 20px;
    margin-bottom: 30px;
  }



  .main-section__info-span {
    font-size: 40px;
  }

  .main-section__info-span_box_right {
    font-size: 30px;
  }

  .main-section__info {
    margin-bottom: 50px;
  }

  .main-section__btn {
    font-size: 12px;
    line-height: 120%;
    padding: 8px 20px;
  }

}

@media (max-width: 540px) {

  .main-section__container {
    min-height: 180px;
    background-size: 161px;
    padding-bottom: 23px;
    background-position: right 30px top 22px;
  }

  .main-section__title {
    font-size: 35px;
    margin-bottom: 6px;
  }

  .main-section__descr {
    font-size: 10px;
    margin-bottom: 10px;
  }

  .main-section__info-text {
    font-size: 10px;
    max-width: 65px;
  }

  .main-section__info-span {
    font-size: 26px;
  }

  .main-section__info-span_box_right {
    font-size: 22px;
  }

  .main-section__info {
    margin-bottom: 30px;
    gap: 20px
  }

  .main-section__btn {
    font-size: 10px;
    padding: 8px 13px;
  }

}