.rooms {
  padding-bottom: 100px;
}

.rooms__list {
  list-style: none;
  text-align: center;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: 350px;
  gap: 20px;
}

.rooms__item {
  position: relative;
  display: flex;
  width: 100%;
  font-size: 70px;
  font-weight: 700;
  line-height: 100%;
  text-transform: uppercase;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  z-index: 1;
}



.rooms__item_theme_retro {
  background-image: url("../images/1.jpg");
  background-position: center bottom 20%;
}

.rooms__item_theme_star-wars {
  background-image: url("../images/2.jpg");
}

.rooms__item_theme_wild-west {
  background-image: url("../images/3.jpg");
}

.rooms__item_theme_neon {
  background-image: url("../images/4.jpg");
}

.rooms__name {
  display: inline-block;
  max-width: 227px;
  outline: 1px solid transparent;
  margin: auto;
  transition: outline .2s ease-in;
}

.rooms__name::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #0000;
  transition: .4s;
  z-index: -1;
}



.rooms__name:hover::after {
  background-color: #0004;
}

.rooms__name:focus {
  outline: 1px solid var(--secondary-color);
}

@media (max-width: 1140px) {
  .rooms {
    padding-bottom: 70px;
  }

  .rooms__item {
    font-size: 50px;
    line-height: 120%;
  }

  .rooms__list {
    grid-auto-rows: 267px;
  }
}



@media (max-width: 860px) {
  .rooms {
    padding-bottom: 60px;
  }

  .rooms__item {
    font-size: 40px;
    line-height: 125%;
  }

  .rooms__list {
    grid-auto-rows: 200px;
  }

  .rooms__name {
    max-width: 129px;
  }
}

@media (max-width: 640px) {
  .rooms {
    padding-bottom: 30px;
  }

  .rooms__item {
    font-size: 26px;
    line-height: 131%;
  }

  .rooms__list {
    grid-template-columns: 1fr;
    grid-auto-rows: 168px;
  }

}